input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  overflow-x: scroll;
}

input[type=email] {
    height: 30px;
    margin-bottom: 15px;
}

input[type=submit] {
  background-color: var(--medium-pink);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 130px;
  margin: auto;
  margin-top: 30px;
}

input[type=submit]:hover {
  background-color: var(--hot-pink);
}

.container {
  border-radius: 43px;
  background-color: var(--pale-pink);
  padding: 50px 70px;
  width: 100%;
  max-width: 650px;
  height: 550px;
  overflow: hidden;
}

.contact {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-title {
    padding: 10px 0;
    color: var(--medium-pink);
    font-size: 1em;
    font-weight: 600;
}